/* Homepage */

[data-page='home'] {

  .container-breadcrumb {
    display: none;
  }

}

#home-charts-tab{
  padding: 15px 15px 0 15px;
}


.home-overlay {
  background-color: #05232e;
  opacity: 0.4;

  position: absolute;
  height: 100%;
  width: 100%;
  top: -21px;
}

.topic-container,.home-logo, .welcome, .one, .two, .three, .four {
  opacity: 0;
}

#home-charts-tab{
  .nav-tabs{
    border: none;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none;
    border: 1px solid $fx-cool-blue ;
    @include fx-no-border-radius();
  }

  .nav>li>a{
    padding: 3px 15px;
    color: $fenix-text;
    text-transform: uppercase;
    font-weight: 500;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    color: $fx-cool-blue;
  }

  .nav-tabs>li>a:hover, .nav>li>a:focus, .nav>li>a:hover{
    @include fx-no-border-radius();
    border-color: transparent;
  }

}



.home-header {
  min-height: 300px;
  position: relative;



.home-btn-holder{
  padding-top: 50px;
}

  .home-btn-container {


    .col-sm-6 {

      .home-btn {
        border: 1px solid white;
        line-height: 100%;
        display: inline-block;
        padding: 20px;
        margin-bottom: 40px;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: 500;
        position: relative;

        @include animate();

        &:link,
        &:visited,
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }

        &:hover{
          background-color: rgba(255,255,255,0.3);
          @include animate();
        }

        span{
          font-size: 37px;
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          background-color: #495c66;
          height: 100%;

          width: 50px;
          line-height: 51px;
        }

      }

    }

  }

  .welcome {
    color: white;
    padding-left: 20%;
  }

  .home-logo {

    background-image: url(../../src/css/img/uneca-ico.svg);
    width: 350px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 47%;
    @include fx-transfor-me(translateX(-50%));
  }

  .evidence {
    display: inline-block;
    padding: 3px;
    background-color: white;
    font-weight: 500;
    font-size: 10px;
    color: #03232e;
    margin-left: 20%;
  }

  .carousel {


    .arrow-left, .arrow-right {
      width: 18px;
      height: 67px;

      position: absolute;
      top: 50%;
      left: 50%;
      @include fx-transfor-me(translate(-50%, -50%));
    }

    .arrow-left {
      left: 100%;
      background-image: url(../../src/css/img/arrow-left.svg);
    }

    .arrow-right {
      left: 0;
      background-image: url(../../src/css/img/arrow-right.svg);
    }




    .carousel-inner {
      height: 120px;

      .item {
        height: 100%;
        padding: 0 20%;
        font-size: 18px;
        font-weight: 500;
        color: white;
        p.home-topic {
          position: relative;
          top: 50%;
          @include fx-transfor-me(translateY(-50%));
        }

      }
    }

  }

  .carousel-control {

  }

  .carousel-control.right, .carousel-control.left {

    background: none;
  }

}

$uneca-home-padding: 15px;


  .panel-body {
    background-color: $fenix-light-bg;
    padding: 0 15px;
  }

  .uneca-home-title {
    font: $fx-text-smalltitle-bold;
    color: $fx-cool-blue;
    padding: $uneca-home-padding;
  }

  .obj-box {
    padding: 0;
  }

.uneca-home-container p {
    padding: 0 $uneca-home-padding;
    font-size: 12px;
  }

  .uneca-home-social {
    padding: 0 $uneca-home-padding;
    font-size: 18px;
  }


  hr {
    border-color: $fenix-light-bg;
    margin-bottom: 0;
  }

  .panel-heading {
    padding: 0 15px;
  }

  .panel-default {
    border-color: transparent;
  }

  .panel-group .panel-heading .panel-title a {
    text-transform: none;
    color: $fx-cool-blue;
    font-size: 14px;

  }

  .fx-panel-plus {
    margin-right: 5px;
  }

  .uneca-home-panel-sub {
    margin: 7px 0;
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      border-color: transparent;
    }
  }

  .uneca-home-entrypoint {
    text-align: center;
    padding: 0 25px;
    .col-xs-4 {
      border-right: 1px solid #e5e5e5;
      &:last-child {
        border-color: transparent;
      }
    }
  }

  .uneca-home-entrypoint-container {
    padding: 5px;
  }



#container {
  width: 100%;
  height: 300px;
  position: absolute;
  top: -21px; /*As .navbar margin-bottom*/
}

#world-preload {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $fenix-light-hr;
  @include animate(1s);
  opacity: 0;
}

.world-fallback{
  opacity: 0;
  background-image:  url(../../src/css/img/world-fallback.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.mobile-btn{
  background-color: $fx-cool-alt;
  background-image:  url(../../src/images/motox.png);
  height: 75px;
  width: calc(100% - 30px);
  line-height: 50px;
  display: block;
  padding: 0 0 0 10px;
  margin: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  background-position: 160% 26%;
  background-repeat: no-repeat;
  font-weight: 700;
  //color: $fx-cool-alt;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }

  .icojam_mobile_phone{
    font-size: 32px;
    position: relative;

    top: 9px;
    left: 0;

  }


}

.highcharts-title{
  font-weight: 700;
  color: $fx-cool-blue !important;
  text-transform: uppercase;
  font-size: 10px !important;
  fill: $fx-cool-blue !important;
}

#preload-text{
  color: $fx-cool-alt;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  @include fx-transfor-me(translate(-50%,-50%));
}

#world-preload.visible {
  opacity: 1;
}


.fx-filter-form-module {
  width: 50%;
}



/*//////////////////////////////////////////// Navbar Media queries */


/* Ipad */
@media (min-width: 768px) and (max-width: 990px) {

  .home-header  {
    .home-logo{
      left: 58%;
    }

    .home-btn-holder{
      padding-top: 75px;
    }



  }

  .mobile-btn{
    background-position: -160% 26%;

  }

}

/* Iphone */

@media (max-width: 767px) {

  .home-header  {
    .home-logo{
      left: 55%;
    }

    .home-btn-holder{
      padding-top: 75px;
    }



  }


  .mobile-btn{
    background-position: 50% 26%;

  }



  /* End of the iPhone media query*/

}


/*Partner*/
[data-partner] {
  width: 16.6%;

  a {
    height: 50px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

  }

}

$partners: fra fe unece mp ofac itto;

@each $partner in $partners {

  [data-partner='#{$partner}'] {

    a {
      background-image: url('../../src/images/partners/#{$partner}-off.png');
    }

    &.active {

      >a {
        background-image: url('../../src/images/partners/#{$partner}.png');
      }

    }

  }

}



[data-role='partners']{

  .nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
    border-color:transparent ;
  }

  .nav-tabs{
    border-color:transparent ;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-color:transparent ;
  }

  .tab-pane{
    height: 100px;
    padding: 0 15px;
  }
}

