<div>

    <section data-dashboard="population">

        <div class="row">

            <div class="col">
                <div class="col-xs-12">
                    <h1>Mid-year population</h1>

                    <div id="population-1"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>Average growth rate</h1>

                    <div id="population-2"></div>
                </div>
            </div>

        </div>

        <div class="row">

            <!--            <div class="col">
                            <div class="col-xs-12">
                                <h1>Mid-year population by age group</h1>

                                <div id="population-3"></div>
                            </div>
                        </div>


                        <div class="col">
                            <div class="col-xs-12">
                                <h1>Mid-year population by sex</h1>

                                <div id="population-4"></div>
                            </div>
                        </div>-->

            <div class="col">
                <div class="col-xs-12">
                    <h1>Life expectancy (table)</h1>

                    <div id="population-5"></div>
                </div>
            </div>


        </div>

    </section>

    <section data-dashboard="education">

        <div class="row">
            <div class="col-xs-12">
                <h1>Enrolment primary school</h1>

                <div id="education-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Enrolment primary school by gender</h1>

                <div id="education-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Literacy rate by gender</h1>

                <div id="education-3"></div>
            </div>
        </div>


    </section>

    <section data-dashboard="health">

        <div class="row">

            <div class="col">
                <div class="col-xs-12">
                    <h1>Percentage of children provided the vaccines</h1>

                    <div id="health-1"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>Prevalence of undernourishment</h1>

                    <div id="health-2"></div>
                </div>

            </div>


        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Percentage of underweight children (under-five) </h1>

                <div id="health-3"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Infrastructure (doctor-hospital)</h1>

                <div id="health-4"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Infrastructure (doctor-hospital)</h1>

                <div id="health-5"></div>
            </div>
        </div>


    </section>

    <section data-dashboard="labour">

        <div class="row">

            <div class="col">
                <div class="col-xs-12">
                    <h1>Economically active population</h1>

                    <div id="labour-1"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>By sector</h1>

                    <div id="labour-2"></div>
                </div>

            </div>


        </div>


    </section>


    <!-- Economic statistics-->


    <section data-dashboard="gdp_constant">

    </section>


    <section data-dashboard="gdp_current">

    </section>

    <section data-dashboard="monetary_statistics">

        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>Domestic credit</h1>

                    <div id="monetary-1"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>Components of domestic credit</h1>

                    <div id="monetary-2"></div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Net foreign assets</h1>

                <div id="monetary-3"></div>
            </div>
        </div>


        <div class="row">

            <div class="col">
                <div class="col-xs-12">
                    <h1>International Reserves</h1>

                    <div id="monetary-4"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>Money Supply (M1)</h1>

                    <div id="monetary-5"></div>
                </div>
            </div>


        </div>


        <div class="row">

            <div class="col">
                <div class="col-xs-12">
                    <h1>Quasi-money</h1>

                    <div id="monetary-6"></div>
                </div>
            </div>


        </div>


    </section>

    <section data-dashboard="public_finance">


        <div class="row">
            <div class="col-xs-12">
                <h1>Total revenues and grants</h1>

                <div id="finance-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Components of total revenues and grants </h1>

                <div id="finance-2"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Total expenditures and net lending</h1>

                <div id="finance-3"></div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>Total expenditures and net lending (current and capital expenditure)</h1>

                    <div id="finance-4"></div>
                </div>
            </div>

            <div class="col">
                <div class="col-xs-12">
                    <h1>Current expenditure</h1>

                    <div id="finance-5"></div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Fiscal Balance</h1>

                <div id="finance-6"></div>
            </div>
        </div>


    </section>


    <section data-dashboard="balance_of_payments">


        <div class="row">


            <div class="col-xs-12">
                <h1>Current account balance</h1>

                <div id="balanceOfPayments-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>Capital and financial account</h1>

                    <div id="balanceOfPayments-2"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>Disaggregated Capital and Financial account</h1>

                    <div id="balanceOfPayments-3"></div>
                </div>
            </div>


        </div>


        <div class="col">
            <div class="col-xs-12">
                <h1>Trade balance</h1>

                <div id="balanceOfPayments-4"></div>
            </div>
        </div>


    </section>


    <section data-dashboard="energy">


        <div class="row">
            <div class="col-xs-12">
                <h1>Production of electricity</h1>

                <div id="labour-1"></div>
            </div>
        </div>


    </section>


    <section data-dashboard="gdp">


        <div class="row">
            <div class="col-xs-12">
                <h1>GDP growth (annual %)</h1>

                <div id="gdp-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>GDP per capita</h1>

                <div id="gdp-2"></div>
            </div>
        </div>


    </section>


    <section data-dashboard="imports">

    </section>


    <section data-dashboard="financial_flows">


        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>Net Total Official Development assistance</h1>

                    <div id="financial_flows-1"></div>
                </div>
            </div>

            <div class="col">
                <div class="col-xs-12">
                    <h1>Net Foreign Direct Investment Inflows</h1>

                    <div id="financial_flows-2"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>Distribution of Net Foreign Direct Investment Inflows by country</h1>

                    <div class="obj-box">
                        <div id="financial_flows-3"></div>
                        <p>Note: Last year available (2012)</p>
                    </div>


                </div>
            </div>

            <div class="col">
                <div class="col-xs-12">
                    <h1> Table of Net Foreign Direct Investment Inflows by year</h1>

                    <div id="financial_flows-4"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>Distribution of Origin of FDI Inflows by country</h1>

                    <div class="obj-box">
                        <div id="financial_flows-5"></div>
                        <p>Note: Last year available (2012)</p>
                    </div>


                </div>
            </div>

            <div class="col">
                <div class="col-xs-12">
                    <h1>Table of Origin of FDI Inflows by year</h1>

                    <div id="financial_flows-6"></div>
                </div>
            </div>
        </div>


    </section>


    <section data-dashboard="debt">


        <div class="row">
            <div class="col-xs-12">
                <h1>Total Government Domestic Debt</h1>

                <div id="debt-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>Total External Debt</h1>

                    <div id="debt-2"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>Total External Debt - Public/Private </h1>

                    <div id="debt-3"></div>
                </div>
            </div>

        </div>


    </section>

    <!-- Environment and multi-Domain statistics-->
    <section data-dashboard="infrastructure">


        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>Roads, total network</h1>

                    <div id="infrastructure-1"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>Paved roads (percentage of total network) </h1>

                    <div id="infrastructure-2"></div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>Mobile-cellular/Fixed-telephone subscriptions</h1>

                    <div id="infrastructure-3"></div>
                </div>
            </div>
        </div>


    </section>


    <section data-dashboard="inflation">

        <div class="row">

            <div class="col">
                <div class="col-xs-12">
                    <h1>Inflation, consumer prices (annual %) </h1>

                    <div id="inflation-1"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>Inflation, GDP deflator (annual%)</h1>

                    <div id="inflation-2"></div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12">
                <h1>Inflation by kind of commodity</h1>

                <div id="inflation-3"></div>
            </div>
        </div>


    </section>

    <section data-dashboard="tourism">


        <div class="row">
            <div class="col-xs-12">
                <h1>Total contribution to GDP and Employment</h1>

                <div id="tourism-1"></div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <h1>International tourism, number of arrivals</h1>

                    <div id="tourism-2"></div>
                </div>
            </div>


            <div class="col">
                <div class="col-xs-12">
                    <h1>International tourism, receipts</h1>

                    <div id="tourism-3"></div>
                </div>
            </div>

            <div class="col">
                <div class="col-xs-12">
                    <h1>Rooms in hotel and similar establishments </h1>

                    <div id="tourism-4"></div>
                </div>
            </div>

        </div>


    </section>


    <section data-dashboard="poverty">

    </section>


</div>